footer{
    padding: 0 100px;
    height: 70px;
    background: #e4dbd4;
    display:flex !important;
    flex-wrap: wrap;
    justify-content:space-between;
}
footer::before{
    content:"";
    display: block;
    margin:0 auto;
    width: 100%;
    height: 1px;
    background: #fff;
}
footer ul{
    height: 100%;
    display:flex;
    float: left\9;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
footer ul li{
    margin-right: 20px;
    line-height: 70px\9;
    display: inline-block\9;
    float:left\9;
}
footer ul li a{
    color:#666;
}
footer ul li img{
    height: 20px;
    margin-right:8px;
    vertical-align: bottom;
}
footer .right{
    padding:10px 0;
    text-align: right;
    line-height: 25px;
    font-size: 12px;
    float: right\9;
}
footer .right p{
    margin:0;
    color:#5f5f5f;
}
footer .copy-right span{
    margin-left:20px;
}
#top_back{
    position: fixed;
    bottom:80px;
    right:80px;
    width:40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 2px 5px #989898;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#top_back i{
    color:#b3b1b1;
    font-size:24px;
}
#top_back:hover{
    box-shadow: 1px 2px 5px #696969;
}


@media screen and ( max-width: 768px ) {
    footer{
        padding:0 10px;
    }
    footer ul,
    footer .right{
        width: 100%;
    }
    footer{
        height: auto;
        flex-wrap: wrap;
        justify-content:center;
        background: #e4dbd4;
    }
    footer ul{
        padding-top:15px;
        justify-content: center;
    }
    footer ul li{
        font-size:12px;
        margin-right: 6px;
    }
    footer .right{
        padding:0;
        text-align: center;
    }
    #top_back{
        position: fixed;
        bottom:20px;
        right:10px;
        width:36px;
        height:36px;
    }
}