#top {
    height: 100px;
    background: #f9f9f9;
}
#top .home-link{
    width: 300px;
    height: 100px;
    margin:0;
    position: absolute;
    left:50%;
    top:0;
    transform: translate(-50%,0);
    background: url('../images/pro_top.png') no-repeat center bottom;
    background-size: 100%;
    z-index: 21;
}
#top .home-link a{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('../images/logo.png') no-repeat center bottom;
    background-size: 40%;
}
#top .home-link a:hover{
    text-shadow:0 1px 5px #989898;
}

#main{
   background: #e4dbd4;
   padding:0 100px;
   bottom:70px;
}
#main .top-nav ul{
    height: 110px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#main .top-nav li{
    margin-right: 70px;
}
#main .top-nav li span{
    color:#4e6142;
}
#main .top-nav li i{
    display: inline-block;
    margin-right:10px;
    font-size:20px;
    transform:rotate(90deg);
    vertical-align: middle;
}
#main .swiper-wrap1{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 880px;
    padding: 20px 118px 0; 
    background: url('../images/pros_bg.jpg') no-repeat center top;
    background-size:100%; 
    margin-bottom:20px;
}

#main .swiper-wrap1 .swiper-pagination-total{
    color:#777;
}
#main .swiper-container .swiper-slide img{
    width:100%;
}
#main .swiper-pagination {
    bottom:120px;
}
#main .swiper-wrap1 .swiper-button-next{
    right:30px;
    top:45%;
}
#main .swiper-wrap1 .swiper-button-prev{
    left:30px;
    top:45%;
}
#main .swiper-button-prev{
    background-image: url('../images/jiantou.png');
}
#main .swiper-button-next{
    background-image: url('../images/jiantou.png');
    transform-origin: center center;
    transform: rotate(180deg);
}

#main .right {
    padding-left:120px;
}
#main .right h2{
    border-top:1px solid #fff;
    padding:20px 0 30px;
    margin-top:5px;
    font-size:20px;
    color:#555;
}
#main .right p{
    margin-bottom: 30px;
    color:#5f5e5e;
}
#main .right .price{
    font-size:16px;
    font-weight:bold;
}
#main .right .price+p{
    color:#4e6142;
}
#main .right .number p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#main .right .number p span{
    margin-right: 80px;
}
#main .right img{
    width:200px;
}

#main .proshows{
    margin:50px 0;
}
#main .swiper-wrap2{
    position: relative;
    padding: 20px 80px; 
}
#main .swiper2 .pro{
    position:relative;
    margin-bottom: 50px;
    box-shadow: 0 1px 5px #d2bfa3;
}
#main .swiper2 .pro img{
    border-radius: 6px;
}
#main .proshows img{
    width: 100%;
    display: block;
    margin:0 auto;
    margin-bottom:15px;
    box-shadow: 0 1px 5px #d2bfa3;
}
#main .swiper2 .pro .bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 70px;
    background: url('../images/pro_bot.png') no-repeat center top;
    background-size: 100% 100%;
    padding-top:25px;
}
#main .swiper-button-prev,
#main .swiper-button-next{
    outline: none;
}
#main .swiper2 .pro .bottom p{
    margin-bottom: 3px;
}
#main .swiper2 .pro .bottom p .line{
    margin:0 20px;
}

#main .row2{
    margin:30px 0;
}
#main .row2 > div{
    height: 970px;
    padding:0;
}
#main .row2 h3,
#main .row2 p{
    color:#666;
}
#main .row2 img{
    width:100%;
    height: 100%;
}
#main .row2 > div.t{
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}


@media screen and ( max-width: 768px ) {
    #main{
        padding:0;
    }
    #main .top-nav ul{
        height: 45px;
    }
    #main .top-nav li{
        margin-right: 10px;
    }
    #main .swiper1 {
        height: 280px;
    }
    #main .swiper-wrap1 .swiper-button-next,
    #main .swiper-wrap1 .swiper-button-prev{
        width: 30px;
        height: 20px;
        margin-top: -10px;
    }
    #main .swiper-wrap1 .swiper-button-next{
        right:15px;
    }
    #main .swiper-wrap1 .swiper-button-prev{
        left:15px;
    }
    #main .swiper-wrap1{
        padding: 47px;
        height: auto;
        background-size:100% 100%;
    }
    #main .swiper-pagination{
        bottom:20px;
    }
    #main .right{
        padding-left:15px;
    }
    #main h2{
        font-size:18px !important;
    }
    #main h3{
        font-size:16px !important;
    }
    #main .right h2{
        border:none;
        padding:0;
    }
    #main .right .number p{
        justify-content: space-between;
        margin-bottom:5px;
    }
    #main .right p{
        margin-bottom:10px;
    }
    #main .right .number p span{
        margin-right:30px;
    }
    #main .pro{
        margin-bottom: 15px;
        width:100%;
    }
    #main .pro .bottom p{
        margin-bottom: 0;
    }
    #main .row2 > div{
        height: 230px;
    }
}
@media screen  and ( max-width: 1760px ) and (min-width: 1500px) {
    #main .swiper-wrap1{
        height: 780px;
    }
}
@media screen  and ( max-width: 1500px ) and (min-width: 1200px) {
    #main .swiper-wrap1{
        height: 680px;
    }
}
@media screen  and ( max-width: 1068px ) and (min-width: 765px) {
    #main .swiper1{
        height: auto;
    }
    #main .swiper-wrap1{
        padding:95px;
    }
    .nav-com{
        height: 80px;
    }
    #top{
        height: 80px;
    }
    #top .home-link {
        width: 200px;
        height: 80px;
        background-size: 100%;
    }
    .nav-com .left ol {
        padding: 30px 0 0 15px;
    }
    #main .row2 > div{
        height: 400px;
    }
    #main .swiper2 .pro .bottom{
        border:none;
    }
}
